body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h2 {
    text-align: center;
    margin-top: 10px;
}

.message {
    padding: 10px;
    margin: 10px 0;
    border-radius: 1rem;
    color: var(--main-font-color);
}

.form {
    margin-top: 40px;
    width: 364px;
    padding: 10px;
    overflow: hidden;
    background: var(--main-bg-color);
    border-radius: 1rem;
}

.form * {
    color: var(--main-font-color);
}

.form *:hover {
    color: var(--main-font-color);
}

.form input[type=text], input[type=password],
input[type=date], input[type=email], input[type=tel] {
    display: block;
    width: 90%;
    margin: 20px auto 10px;
    padding: 6px 10px;
    background-color: var(--secondary-color);
    border-radius: 1rem;
}

.login_form input[type=submit] {
    cursor: pointer;
    display: inline-block;
    margin-right: 11%;
    background-color: var(--accept-btn-color);
    border-radius: 1rem;
    padding: 6px;
}

.registration_form input[type=submit] {
    cursor: pointer;
    display: inline-block;
    margin-right: 17%;
    background-color: var(--accept-btn-color);
    border-radius: 1rem;
    padding: 6px;
}

.form input:focus {
    filter: brightness(130%);
    color: #1b1b1b;
}

.form label {
    display: block;
    margin-top: 20px;
    margin-bottom: -10px;
    margin-left: 10px;
}

.form_actions {
    margin: 20px 0 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.form_actions a {
    margin-right: 10%;
}

.signin_message {
    margin-top: 20px;
}