/* 
    Body 
*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

body * {
    color: var(--main-font-color);
}

.nav-main {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1800px;
    min-width: 200px;
    box-sizing: border-box;
    width: 90%;
}

/*
    Header 
*/

.header {
    display: flex;
    flex-direction: column;
    justify-content: left;
    max-width: 1800px;
    min-width: 200px;
    padding: 20px;
    box-sizing: border-box;
    width: 90%;
    border-radius: 2rem;
    background-color: var(--main-bg-color);
    box-shadow: var(--shadow-medium);
}

.header_top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header_buttons {
    justify-content: flex-end;
}

.logo {
    margin-top: 40px;
}

.user_info {
    margin-left: 10px;
    margin-bottom: 20px;
}

.user_info p {
    font-size: 1.3rem;
}

.navigation {
    position: sticky;
    top: 5px;
    max-width: 210px;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    padding: 20px;
    border-radius: 2rem;
    margin-right: 20px;
    width: 20%;
}

.navigation a {
    display: inline-block;
    color: var(--main-font-color);
    line-height: 2;
    text-decoration: none;
    cursor: pointer;
}

.navigation a:after {
    background-color: var(--main-font-color);
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .2s ease-in-out;
    -moz--transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
}

.navigation a:hover:after, .navigation a:focus:after {
    width: 100%;
}

/*  ------------------------------------------------------header---------------------------------------------------- */

/* 
    Main 
*/

.main {
    padding: 20px;
    width: 100%;
    background-color: var(--main-bg-color);
    border-radius: 2rem;
    box-shadow: var(--shadow-medium);
}

.items {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 86%;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.item_info {
    width: 70%;
    display: flex;
    justify-content: flex-start;
}

.avatar {
    display: inline-block;
    box-sizing: border-box;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    background-size: cover;
    margin: auto 10px;
}

.item_header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    margin: 20px 0;
}

.item_header h2 {
    font-weight: bold;
    font-size: 2.2rem;
}

.item_header_buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}

.item_header_buttons a {
    background-color: var(--bottons-bg-color);
    margin-right: 20px;
}

.item_body {
    text-align: justify;
    white-space: pre-wrap;
}

.item_body p {
    font-size: 1.4rem;
}

.item_more {
    background-color: var(--main-bg-color);
    padding: 30px;
}

.item_edit {
    background-color: var(--main-bg-color);
    padding: 30px;
}

.item_edit input[type=text], textarea {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 2rem;
    outline: none;
}

.item_edit input[type=text] {
    padding: 10px 20px;
}

.item_edit input[type=submit] {
    padding: 6px 10px;
    background-color: var(--accept-btn-color);
}

.item_edit textarea {
    padding: 30px;
    font-size: 1.2rem;
}

.item_edit form {
    display: flex;
    flex-direction: column;
}

.item_edit_actions {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.item_edit input[type=text] {
    font-size: 1.2rem;
}

.item_name {
    margin-bottom: 10px;
}

.item_short_desc {
    display: inline-block;
    text-align: justify;
    word-wrap: break-word;
}

.actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 30%;
}

.single_action {
    display: inline-block;
    margin-right: 20px;
    align-items: center;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.item>.actions img {
    display: block;
    margin: 6px auto;
    max-height: 17px;
}

.single_action:hover {
    filter: brightness(125%);
    background-color: rgba(253, 253, 253, 0.4);
}

.page_bar {
    margin-bottom: 15px;
}

.page_bar a {
    display: inline-block;
    padding: 4px 12px;
    margin: 10px 30px;
    width: 90px;
    border-radius: 20px;
    background-color: var(--bottons-bg-color);
}

.page_bar a:hover {
    box-shadow: var(--shadow-medium);
}

.control_set {
    margin: 0 auto 0;
    display: flex;
    justify-content: flex-end;
    width: 88%;
}

/*  ------------------------------------------------------main---------------------------------------------------- */

/* 
    Media query
*/

@media all and (max-width: 670px) {
    .nav-main {
        flex-direction: column;
    }
    .navigation {
        position: relative;
        width: 100%;
        max-width: 100%;
        margin: 10px 0;
        box-sizing: border-box;
        flex-direction: row;
        align-items: center;
    }
    .separator {
        display: inline-block;
        width: 3px;
        height: 30px;
        margin: 0 20px;
    }
    .main {
        width: 100%;
        margin: 10px 0;
        box-sizing: border-box;
    }
}

@media all and (max-width: 410px) {
    .nav-main {
        flex-direction: column;
    }
    .navigation {
        width: 100%;
        margin: 10px 0;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
    }
    .item {
        justify-content: center;
    }
    .item_description {
        width: 90%;
    }
    .item_name {
        text-align: center;
        margin-bottom: 10px;
    }
    .item_short_desc {
        display: inline-block;
        word-wrap: break-word;
    }
    .actions {
        margin-top: 10px;
        width: 60%;
        justify-content: space-around;
    }
    .separator {
        display: inline-block;
        height: 3px;
        width: 50%;
        margin: auto 10px;
    }
    .main {
        width: 100%;
        margin: 10px 0;
        box-sizing: border-box;
    }
    .single_action {
        margin-right: 0;
    }
}

/*  ------------------------------------------------------meadia query---------------------------------------------------- */